.container{
    margin: 50px auto;
    width: 40%;
    background-color: rgba(193, 238, 246, 0.877);
    border-radius: 15px;
    box-shadow: 10px 10px 20px #313233;
    padding: 20px 40px;
}

@media (max-width: 767px) {
    .container {
        width: 70%;
    }
}

h2 {
    font-size: 2.5rem;
}

.list {
    height: 400px;
    overflow: auto;
}

li{
    list-style: none;
}

button{
    
        background-color:rgba(255, 13, 13, 0.676);
        border: none;
        margin: 0.3rem;
        border-radius: 20%;
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 500;
        cursor: pointer;
    
}



li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 213, 221);
    border-radius: 15%;
    padding: 0 1rem;
    margin-bottom: 0.2rem;
    
    
    
}




