.container{
    margin: 50px auto;
    width: 40%;
    background-color: rgba(193, 238, 246, 0.877);
    border-radius: 15px;
    box-shadow: 10px 10px 20px #313233;
    padding: 20px 40px;
}

@media (max-width: 767px) {
    .container {
        width: 70%;
    }
}

h2 {
    font-size: 2.5rem;
}










.list {
    height: 400px;
    overflow: auto;
}

